.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}

.tableborder{
    border:  2px solid black; 
    border-spacing: 
    30px; text-align: center; 
    margin-left: auto; 
    margin-right:auto ;
}